@charset "UTF-8";

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #111111;
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

/*.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img {
		display: none;
	}
}*/

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
}

.slick-slider .slick-slide {
  overflow: hidden;
  float: left;
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

.scroll {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;
  z-index: 1111;
  background: #000;
  padding: 20px 15px !important;
}

.form-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.form-callback__input {
  border-bottom: 1px solid #888888;
  margin-bottom: 18px;
  width: 100%;
}

.form-callback__input:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 100%;
}

.form-callback__bottom {
  text-align: right;
  width: 100%;
}

.form-callback__textarea {
  width: 100%;
  min-height: 130px;
  border-bottom: 1px solid #888888;
  margin-bottom: 36px;
}

.form-callback__textarea textarea {
  padding: 11px 6px 11px 6px;
  color: #cbcbcb;
  font-family: "Lato";
  font-size: 21px;
  font-style: italic;
}

.form-callback__btn {
  width: 150px !important;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 11px 6px;
  color: #cbcbcb;
  font-family: "Lato";
  font-size: 21px;
  font-style: italic;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.1px;
}

.input.focus {
  color: #000;
}

.input.err {
  border-bottom: 1px solid #ea0d60 !important;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.btn {
  display: inline-block;
  padding: 0px 0px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  line-height: 30px;
  width: 104px;
  height: 30px;
  border-radius: 25px;
  background-color: #ea0d60;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #9e0741;
}

.btn.fw {
  width: 100%;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
}

.slick-slider .slick-slide {
  overflow: hidden;
  float: left;
  position: relative;
}

.slick-slider .slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  font-size: 0;
  background-color: #ffffff;
  opacity: 0.2;
}

.up {
  position: fixed;
  display: none;
  bottom: 50px;
  right: 10px;
  width: 40px;
  height: 45px;
  background: #ea0d60 !important;
  z-index: 11;
  border-radius: 7px 7px 0px 0px;
  cursor: pointer;
}

.up:after,
.up:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.up:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 14px;
}

.up:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  right: -4px;
}

.header {
  position: absolute;
  width: 100%;
  top: 17px;
  left: 0;
  padding: 0 15px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__brand {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8b9093), color-stop(50%, #dbe3e7), to(#ffffff));
  background-image: -o-linear-gradient(bottom, #8b9093 0%, #dbe3e7 50%, #ffffff 100%);
  background-image: linear-gradient(to top, #8b9093 0%, #dbe3e7 50%, #ffffff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  color: #ffffff;
  font-family: Lato;
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 7;
}

.header__menu {
  position: fixed;
  top: -200%;
  right: 0;
  background-color: #000;
  opacity: 0.95;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__menu.active {
  top: 0;
}

.header__menu-list {
  height: 100%;
  text-align: center;
  padding-top: 150px;
  /* display: flex;
         flex-direction: column;
         justify-content: center;*/
}

.header__menu li {
  border-bottom: 2px solid transparent;
}

.header__menu li:hover {
  border-bottom: 2px solid #ea0d60;
  -webkit-box-shadow: 0 0 9px 5px rgba(234, 13, 96, 0.55);
          box-shadow: 0 0 9px 5px rgba(234, 13, 96, 0.55);
}

.header__menu-link {
  color: #ffffff;
  font-size: 32px;
  line-height: 50px;
}

.header__menu-icon {
  display: block;
  position: relative;
  width: 34px;
  height: 27px;
  text-align: right;
  cursor: pointer;
  z-index: 7;
}

.header__menu-icon span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 11px;
  right: 0px;
  position: absolute;
  width: 25px;
  height: 5px;
  border-radius: 3px;
  background-color: #fff;
}

.header__menu-icon span:first-child {
  top: 0px;
  width: 100%;
}

.header__menu-icon span:last-child {
  top: auto;
  bottom: 0px;
  width: 20px;
}

.header__menu-icon.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.header__menu-icon.active span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.header__menu-icon.active span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 13px;
  width: 100%;
}

/*
font-family: "FontAwesome";



\f1d8 <i class="far fa-paper-plane"></i>  - самолетик
\f10d <i class="fas fa-quote-left"></i>  - кавычки
\f00e <i class="fas fa-search-plus"></i>
\f0c1 <i class="fas fa-link"></i>  --  линк
\f061 <i class="fas fa-arrow-right"></i>
\f060 <i class="fas fa-arrow-left"></i>
\f107 <i class="fas fa-angle-down"></i>  -  angle-down
\f106 <i class="fas fa-angle-up"></i>  -  angle-up
\f3cd - телефон
\f058 - check
\f406 - account
\f002, <i class="fas fa-search"></i> - поиск
\f07a, <i class="fas fa-shopping-cart"></i>
\f005, <i class="fas fa-star"></i> - звезда
\f1b9, <i class="fas fa-car"></i>
\f2f6, <i class="fas fa-sign-in-alt"></i> - лог ин
\f0e0, <i class="fas fa-envelope"></i> - конверт
\f879, <i class="fas fa-phone-alt"></i> - трубка телефона
\f3c5, <i class="fas fa-map-marker-alt"></i> - локация
\f017, <i class="far fa-clock"></i> - часы


СОЦСЕТИ
\f39e, <i class="fab fa-facebook-f"></i>
\f099, <i class="fab fa-twitter"></i>
\f0d5, <i class="fab fa-google-plus-g"></i>
\f231, <i class="fab fa-pinterest-p"></i>
\f16d, <i class="fab fa-instagram"></i>

*/

.main-slider {
  text-align: center;
}

.main-slider__item {
  background: #000;
  height: 100vh;
  background-image: url(../img/qq.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider__item-content {
  position: relative;
}

.main-slider__item-title,
.section-sale__title {
  text-align: center;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.main-slider__item-title span,
.section-sale__title span {
  display: block;
  font-weight: 400;
}

.main-slider__item-carname {
  text-transform: uppercase;
  font-weight: 100;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #ffffff;
  opacity: 0.2;
  position: absolute;
  top: 50px;
  left: 70%;
}

.main-slider__item-carname span {
  display: block;
  font-style: italic;
  margin-top: -7px;
}

.main-slider__dotts {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-slider__dotts-img {
  margin-bottom: 12px;
}

.main-slider__dotts-line {
  width: 165px;
  height: 1px;
  -webkit-box-shadow: 0 0 9px 5px rgba(234, 13, 96, 0.55);
          box-shadow: 0 0 9px 5px rgba(234, 13, 96, 0.55);
  background-color: #ea0d60;
}

.main-slider__dotts-dot {
  position: absolute;
  top: 0;
  right: 0;
}

.main-slider__dotts .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-slider__dotts .slick-dots li {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-bottom: 12px;
  background-color: #ffffff;
  opacity: 0.2;
  cursor: pointer;
}

.main-slider__dotts .slick-dots li button {
  font-size: 0;
}

.main-slider__dotts .slick-dots li.slick-active {
  opacity: 1;
}

/*        */

.section {
  padding-top: 50px;
}

.section img {
  max-width: 100%;
}

.section-01 {
  padding-bottom: 50px;
}

.section__content {
  text-align: center;
}

.section__title {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 27px;
}

.section__title span {
  position: absolute;
  color: #888888;
  opacity: 0.2;
  top: -18px;
  left: -17px;
}

.section__title-line {
  display: inline-block;
  width: 26px;
  height: 4px;
  background-color: #ea0d60;
}

.section__text {
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.section .col-my {
  text-align: right;
}

/*      */

.page-home .section-sale {
  background-image: inherit !important;
}

.section-sale {
  text-align: center;
  background-color: #000000;
  padding-bottom: 42px;
  background-image: url(../img/sale-bg.png);
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-sale__title {
  opacity: 0.8;
  margin-bottom: 33px;
}

/*      */

.section-detalis {
  text-align: center;
  margin-bottom: 53px;
}

.section-detalis .section__title {
  margin-bottom: 19px;
}

.section-detalis__heading {
  opacity: 0.2;
  color: #000000;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  text-align: center;
  margin-bottom: -12px;
}

.section-detalis__bottom {
  margin-top: 21px;
}

.section-detalis__btn {
  color: #ea0d60;
  font-family: Lato;
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: 0.64px;
}

.block-detalis {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.block-detalis__flend {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.block-detalis__line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  margin: 0 2px;
  -webkit-transform: translateX(200px);
      -ms-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  background: #000;
  position: relative;
}

.block-detalis__line.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.block-detalis__line-vert {
  position: absolute;
  height: 15%;
  width: 1px;
  background: #000;
  bottom: 0;
  right: 25%;
}

.block-detalis__line-right {
  -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
          transform: translateX(-200px);
}

.block-detalis__line-mb {
  margin-top: 20px;
}

.block-detalis__detal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.block-detalis__detal-flend {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block-detalis__detal-img {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
  opacity: 0;
  -webkit-transition: all 1s ease 1.3s;
  -o-transition: all 1s ease 1.3s;
  transition: all 1s ease 1.3s;
  margin-bottom: 12px;
}

.block-detalis__detal-img.active {
  opacity: 1;
}

/*       */

.section-price {
  padding-top: 50px;
  padding-bottom: 57px;
  background: #000;
  background-image: url(../img/price-b1-01.png), url(../img/price-bg-02.png);
  background-repeat: no-repeat;
  background-position: right bottom, left bottom;
  background-size: 0, contain;
}

.section-price__title {
  color: #ffffff;
}

.section-price__content {
  text-align: center;
}

.price-content__heading {
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.price-content__heading span {
  font-weight: 100;
  opacity: 0.95;
  display: block;
  margin-bottom: -7px;
}

.price-content__price {
  color: #ea0d60;
  text-transform: uppercase;
  font-weight: 100;
  text-shadow: rgba(234, 13, 96, 0.55) 2px 2px 11px, rgba(234, 13, 96, 0.55) -2px -2px 11px, rgba(234, 13, 96, 0.55) -2px 2px 11px, rgba(234, 13, 96, 0.55) 2px -2px 11px;
  margin: 50px 0;
}

.price-content__btn {
  width: 152px;
}

.section-main {
  min-height: 460px;
  padding: 0 !important;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/callback-bg.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-main__heading {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 42px;
}

.section-main__heading span {
  font-weight: 100;
  display: block;
  opacity: 0.9;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
}

.breadcrumbs li:after {
  content: '';
  height: 100%;
  width: 1px;
  background: #ffffff;
  top: 0;
  right: -3px;
  position: absolute;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.breadcrumbs li:after:last-child {
  display: none;
}

.breadcrumbs li:last-child:after {
  display: none;
}

.breadcrumbs__link {
  color: #ffffff;
  font-family: Lato;
  font-size: 21px;
  font-weight: 400;
  display: inline-block;
  padding: 0 10px;
}

.breadcrumbs .active {
  color: #ea0d60;
}

/*             */

.page-specific .section-main {
  background-image: url(../img/specific.png);
}

.section-journey {
  background-image: url(../img/sec-01-img1.png);
  background-repeat: no-repeat;
  background-position: -100px bottom;
  padding-bottom: 154px;
  background-size: 500px;
}

.section-journey__heading {
  font-size: 21px;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  margin-top: 16px;
}

.section-journey__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.08px;
}

.section-technical {
  padding-bottom: 50px;
}

.section-technical__list {
  margin-bottom: 28px;
}

.section-technical__item {
  font-size: 20px;
  line-height: 35px;
  padding-left: 10px;
  position: relative;
  text-align: left;
}

.section-technical__item:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 6px;
  height: 1px;
  background-color: #ea0d60;
}

.section-gallery__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 75px 0;
}

.section-gallery__navitem {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  position: relative;
  padding: 0 25px;
  cursor: pointer;
}

.section-gallery__navitem:first-child {
  padding-left: 0;
}

.section-gallery__navitem:last-child {
  padding-right: 0;
}

.section-gallery__navitem:last-child:after {
  display: none;
}

.section-gallery__navitem:after {
  content: '';
  position: absolute;
  top: 0;
  right: -2px;
  height: 100%;
  width: 1px;
  background-color: #ea0d60;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.section-gallery__navitem.active {
  color: #ea0d60;
}

.section-gallery__items {
  margin-bottom: 100px;
}

.section-gallery__image {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section-gallery__image:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  position: absolute;
  z-index: 3;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.section-gallery__video {
  background-image: url(../img/video-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
}

.section-gallery__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.section-gallery__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.acent {
  color: #ea0d60 !important;
}

.footer {
  background: #000;
  color: #ffffff;
}

.footer-middle {
  padding-top: 48px;
  padding-bottom: 60px;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.15);
          box-shadow: 0 0 2px rgba(255, 255, 255, 0.15);
}

.footer-bottom__inner {
  padding: 26px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-col__heading {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-col__link {
  color: #ffffff;
  line-height: 31px;
}

.footer-bottom__copy {
  color: #b5b5b5;
  font-size: 16px;
}

.footer-bottom__copy span {
  color: #ffffff;
}

.footer-bottom li {
  display: inline-block;
  margin-right: 15px;
}

.footer-bottom li:last-child {
  margin-right: 0;
}

.footer-bottom__social-link {
  color: #fbfbfb;
  font-size: 16px;
}

.colorOne {
  background-color: #9BC53D;
  color: #000;
}

.colorTwo {
  background-color: #FFF;
  color: #000;
}

#mainContent {
  width: 420px;
  margin: 0 auto;
}

#mainContent p {
  padding: 20px;
}

#mainContent #firstBox {
  font-weight: bold;
  -webkit-transform: translate3d(-30px, 0, 0);
          transform: translate3d(-30px, 0, 0);
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  opacity: 0;
}

#mainContent #firstBox.active {
  background-color: #333;
  color: #FFF;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

#mainContent #secondBox {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: translate3d(0, 30px, 0);
          transform: translate3d(0, 30px, 0);
  opacity: 0;
}

#mainContent #secondBox.active {
  background-color: #1581AF;
  color: #FFF;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

#mainContent ol li {
  padding-left: 7px;
  margin-bottom: 15px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
  opacity: 0;
}

#mainContent ol li.active {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
  opacity: 1;
}

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
}

.popup.active .popup-content {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup.show {
  display: block;
}

.popup.show .popup-content {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup-table {
  height: 100%;
  table-layout: fixed;
}

.popup-table > .cell {
  height: 100%;
  vertical-align: middle;
  padding: 30px 10px;
}

.popup-content {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 1230px;
  margin: 0px auto;
  background-color: #fff;
}

.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
  width: 40px;
  height: 40px;
  background-color: #000;
  top: 0;
  right: 0;
}

.popup-video__value {
  max-width: 99%;
  height: 99%;
  border: none;
}

.popup-video__value iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 100%;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

@media (min-width: 767.98px) {
  .form-callback {
    margin-top: 40px;
  }

  .form-callback__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
    width: 47%;
    margin-bottom: 48px;
  }

  .up {
    right: 25px;
    width: 50px;
    height: 65px;
  }

  .up:after,
  .up:before {
    width: 26px;
  }

  .up:before {
    left: 15px;
  }

  .up:after {
    right: -10px;
  }

  .main-slider__item-title,
  .section-sale__title {
    font-size: calc(32px + 66*(100vw / 1903));
  }

  .main-slider__item-carname {
    font-size: calc(50px + 180*(100vw / 1903));
  }

  .section__title {
    font-size: calc(42px + 23*(100vw / 1903));
  }

  .section__title span {
    font-size: calc(42px + 23*(100vw / 1903));
  }

  .section__text {
    font-size: calc(16px + 5*(100vw / 1903));
  }

  .section-sale__title {
    font-size: calc(24px + 30*(100vw / 1903));
  }

  .section-detalis__heading {
    font-size: calc(34px + 79*(100vw / 1903));
  }

  .section-detalis__bottom {
    font-size: calc(12px + 4*(100vw / 1903));
  }

  .section-detalis__btn {
    font-size: calc(12px + 4*(100vw / 1903));
  }

  .price-content__heading {
    font-size: calc(24px + 15*(100vw / 1903));
  }

  .price-content__price {
    font-size: calc(48px + 80*(100vw / 1903));
  }

  .section-main__heading {
    font-size: calc(24px + 41*(100vw / 1903));
  }

  .section-journey {
    background-position: -190px bottom;
  }

  .section-journey__heading {
    margin-top: 86px;
  }

  .section-technical__list {
    margin-bottom: 38px;
  }

  .footer-col__heading {
    font-size: calc(14px + 17*(100vw / 1903));
  }

  .footer-col__link {
    font-size: calc(12px + 4*(100vw / 1903));
  }
}

@media (min-width: 992.98px) {
  .btn {
    height: 50px;
    width: 154px;
    line-height: 50px;
  }

  .header {
    padding: 0 50px;
    top: 37px;
  }

  .header__brand {
    font-size: 48px;
  }

  .main-slider__item {
    background-size: contain;
  }

  .main-slider__item-content {
    max-width: 966px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .main-slider__item-carname {
    top: -72px;
    opacity: 0.05;
  }

  .main-slider__item-carname span {
    margin-top: -45px;
    font-size: 120px;
  }

  .main-slider__dotts {
    bottom: initial;
    left: initial;
    top: 50%;
    right: 89px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .section {
    padding-top: 75px;
  }

  .section__content {
    text-align: left;
  }

  .section-sale {
    padding-bottom: 82px;
  }

  .section-detalis {
    margin-bottom: 103px;
  }

  .section-detalis .section__title {
    margin-bottom: 79px;
  }

  .section-detalis__bottom {
    margin-top: 51px;
  }

  .section-detalis__btn {
    text-transform: uppercase;
  }

  .block-detalis__line-mb {
    margin-top: 50px;
  }

  .section-price {
    background-size: auto;
    padding-top: 130px;
    padding-bottom: 217px;
  }

  .section-technical {
    padding-bottom: 100px;
  }

  .footer-middle {
    padding-top: 148px;
    padding-bottom: 180px;
  }
}

@media (min-width: 1050px) {
  .section-main {
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  .form-callback {
    margin-top: 90px;
    margin-bottom: 140px;
  }

  .section__title {
    margin-bottom: 43px;
  }

  .section__title span {
    top: -26px;
    left: -24px;
  }

  .section__text {
    line-height: 35px;
  }

  .section-sale {
    background-size: auto;
  }
}

@media (min-width: 1400px) {
  .section {
    padding-top: 150px;
  }

  .section-01 {
    background-size: 500px;
    background-image: url(../img/sec-01-img1.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 275px;
  }

  .section-01 {
    padding-bottom: 105px;
  }

  .section .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 566px;
            flex: 0 0 566px;
    max-width: 566px;
  }

  .section-journey {
    background-size: auto;
  }
}

@media (min-width: 1600px) {
  .block-detalis__line-vert {
    position: absolute;
    height: 15px;
    width: 1px;
    background: #000;
    bottom: -50px;
    right: 12px;
    height: 55px;
  }

  .block-detalis__line-left {
    margin: 0 -50px 0 15px;
  }

  .block-detalis__line-left-mb {
    margin-bottom: -50px;
  }

  .block-detalis__line-right {
    margin: 0 15px 0 -50px;
  }

  .block-detalis__line-mb {
    margin-top: 100px;
  }
}

@media (max-width: 992.98px) {
  .section__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .main-slider__item-title,
  .section-sale__title {
    font-size: calc(32px + 112.2*((100vw - 320px) / 1903));
  }

  .main-slider__item-carname {
    font-size: calc(50px + 306*((100vw - 320px) / 1903));
  }

  .section__title {
    font-size: calc(42px + 39.1*((100vw - 320px) / 1903));
  }

  .section__title span {
    font-size: calc(42px + 39.1*((100vw - 320px) / 1903));
  }

  .section__text {
    font-size: calc(16px + 8.5*((100vw - 320px) / 1903));
  }

  .section-sale__title {
    font-size: calc(24px + 51*((100vw - 320px) / 1903));
  }

  .section-detalis__heading {
    font-size: calc(34px + 134.3*((100vw - 320px) / 1903));
  }

  .section-detalis__bottom {
    font-size: calc(12px + 6.8*((100vw - 320px) / 1903));
  }

  .section-detalis__btn {
    font-size: calc(12px + 6.8*((100vw - 320px) / 1903));
  }

  .price-content__heading {
    font-size: calc(24px + 25.5*((100vw - 320px) / 1903));
  }

  .price-content__price {
    font-size: calc(48px + 136*((100vw - 320px) / 1903));
  }

  .section-main__heading {
    font-size: calc(24px + 69.7*((100vw - 320px) / 1903));
  }

  .footer-col__heading {
    font-size: calc(14px + 28.9*((100vw - 320px) / 1903));
  }

  .footer-col__list {
    margin-bottom: 45px;
  }

  .footer-col__link {
    font-size: calc(12px + 6.8*((100vw - 320px) / 1903));
  }
}

@media (max-width: 576.98px) {
  .section__title {
    font-size: 34px;
  }

  .section-price__title {
    margin-bottom: 53px;
  }

  .section-gallery__nav {
    margin: 30px 0;
  }

  .section-gallery__navitem {
    padding: 0 10px;
    font-size: 16px;
  }

  .section-gallery__video {
    min-height: 350px;
  }

  .footer-bottom__copy {
    font-size: 12px;
  }

  .footer-bottom li {
    margin-right: 5px;
  }
}

.webp .main-slider__item{ background-image: url(../img/qq.webp); }

.webp .section-sale{ background-image: url(../img/sale-bg.webp); }

.webp .section-price{ background-image: url(../img/price-b1-01.webp), url(../img/price-bg-02.webp); }

.webp .section-main{ background-image: url(../img/callback-bg.webp); }

.webp .page-specific .section-main{ background-image: url(../img/specific.webp); }

.webp .section-journey{ background-image: url(../img/sec-01-img1.webp); }

.webp .section-gallery__video{ background-image: url(../img/video-bg.webp); }

.webp .popup-close{ background: url(../img/icons/close.webp) 0 0 no-repeat; }

@media (min-width: 1400px){

  .webp .section-01{ background-image: url(../img/sec-01-img1.webp); }
}